/* body */
/* body {
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.87);
    background: #20262e;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* unvisited link */
a:link {
    color: #2196f3;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #2196f3;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #2196f3;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #2196f3;
    text-decoration: none;
}
